<ion-modal-view class="groupsPane">

    <ion-header-bar>
        <h1 class="title">{{ 'w_groups.edit_group_members' | translate }}</h1>
        <button class="button button-clear button-positive button-icon ion-close"
                ng-click="group.edit_hide_modal()"></button>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">


        <!-- <ion-scroll style="height:100%"> -->
        <ion-refresher pulling-text="{{ 'w_contacts.pull_to_refresh' | translate }}" on-refresh="contacts.refresh(true)"
                       refreshing-text="{{ 'w_contacts.refresher_text' | translate }}"></ion-refresher>

        <ion-list class="list">

            <ion-item class="item-container" item-width="99%"
                      item-height="50px" collection-repeat="contact in contacts.list | filter:search.query"
                      ng-ifs="contact.extension || contact.hasSpeedDial">
                <div>
                    <!-- <ion-checkbox id="{{ $index }}" ng-model="contact.isChecked" ng-disabled="!contact.username && !contact.hasSpeedDial"> -->

                    <!-- add button "format to call" if no username and phone number is not formatted -->
                    <!-- <button ng-click="contacts.call(contact)" ng-show="!contact.username"
                            ng-class="contact.hasSpeedDial != null ? 'contact-button-active' : 'contact-button-inactive'"
                            prevent-on-offline="click"> Call Pal
                    </button> -->
                    <a class="item item-avatar" href="#">

                        <div ng-if="!contact.extension" class="no-callpal-egg">
                            {{ contact.displayName | getInitials }}
                            <!-- Need to place real initials (user does not have callpal and therefore no avatar) -->
                        </div>

                        <div ng-if="contact.extension && !contact.avatar" class="no-callpal-egg">
                            <!--GL &lt;!&ndash; user has callpal, but no avatar &ndash;&gt;-->
                            <img ng-src="./web-assets/img/logo-parrot.png" non-loaded-image style="height: 20px">
                        </div>

                        <img class="small-avatar" ng-if="contact.avatar" ng-src="{{ contact.avatar }}"/>

                              <span class="col col-80 text-left">
                                  <i ng-show="contact.isFavorite" class="icon ion-android-star"> </i>
                                  {{ contact.displayName || contact.phoneNumbers[0].number }}
                              </span>
                    </a>

                    <!-- open selection only if phone.length > 1, otherwise add to array -->
                    <button class="button group-add ion-android-add" ng-click="group.selectNumber(contact)"></button>
                    <!--<button ng-if="contact.username || contact.hasSpeedDial" class="button group-add ion-android-add" ng-click="group.selectNumber(contact)"></button>-->
                    <!--<button ng-if="!contact.username && !contact.hasSpeedDial" class="button group-add-disabled">Fix</button>-->
                    <button ng-show="contact.isChecked" class="button group-add-checked ion-checkmark" ></button>
                    <!--<button ng-show="contact.username || contact.hasSpeedDial && !contact.isChecked" class="button group-add ion-android-add" ng-click="addToGroupCall($index)"></button>-->
                    <!--<button ng-show="!contact.username && !contact.hasSpeedDial" class="button group-add-disabled" ng-click="openCorrectionTool()">Fix</button>-->
                </div>
                <!-- </ion-checkbox> -->
            </ion-item>

        </ion-list>



    </ion-content>

    <div>
        <p class="float-button-caption animated zoomIn" hide-in-time>
            {{ 'w_groups.add_members' | translate }}
        </p>
        <button class="float-button button  animated zoomIn important" 
                ng-click="group.edit_save_change_members()"
                ng-disabled="pendingRequests()">
            <i class="icon ion-android-done"> </i>
        </button>
    </div>

</ion-modal-view>



<style>

    .accordion-toggle {
        cursor: pointer;
        margin: 0;
    }

    .accordion-content {
        display: none;
    }

    .accordion-content.default {
        display: block;
    }

</style>
