<ion-view title="Sponsor With Us">
	<ion-header-bar align-title="center" class="bar-callpal">
      <button class="button button-clear" ng-click="gotoSetting('aboutus')">{{ 'w_general_actions.back' | translate }}</button>
      <h1 class="title">Sponsor With Us</h1>
    </ion-header-bar>
    <ion-content padding="true" class="settingsPane advertise">

      <p>
        Call Pal has been designed to offer our sponsors an exciting new opportunity in a marketing avenue with immense potential.
      </p>

      <a href=""><img src="/web-assets/img/tour/video.png"></a>

      <a class="button">Start Now</a>
        
    </ion-content>
</ion-view>
