<ion-view title="Change Password">

  <ion-header-bar align-title="center" class="bar-callpal">
    <button class="button button-clear" ng-click="gotoSetting('accountinfo')">{{ 'w_general_actions.back' | translate }}</button>
    <h1 class="title">{{ 'w_settings.options.account_info.password.title' | translate }}</h1>
      <!--<div class="bar bar-subheader bar-offline" ng-if="!phone_status.online"><h3 class="title" translate="w_general_actions.offline"></h3></div>-->
    <check-connection></check-connection>
  </ion-header-bar>

  <ion-content padding="true" class="settingsPane changepassword" ng-class="{ 'has-subheader': !phone_status.online || phone_status.poorConnection }">
    <input class="form-input" type="password" name="old_password" ng-model="changePasswordData['old_password']"
           placeholder="{{ 'w_settings.options.account_info.password.old_password' | translate }}">
    <input minlength="6" class="form-input" type="password" name="password" ng-model="changePasswordData['password']" placeholder="{{ 'w_settings.options.account_info.password.new_password' | translate }}">
    <input minlength="6" class="form-input" type="password" name="confirm_password" ng-model="changePasswordData['confirm_password']" placeholder="{{ 'w_settings.options.account_info.password.confirm_password' | translate }}">

    <a class="button" ng-click="changePassword()" prevent-on-offline="click"
       ng-disabled="pendingRequests()">{{ 'w_general_actions.save' | translate }}</a>
  </ion-content>

</ion-view>
