/* Settings Section */
.settingsPane {
  padding: 8px;
  color: #fff !important;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
}

.no-profile-image {
  height: 120px;
  width: 94px;
  background-image: url('../../web-assets/img/icons/egg_white.svg') !important;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

.settingsPane a.button {
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  min-height: 15px;
  line-height: 3;
  padding: 0 !important;
  color: #fff;
  text-transform: uppercase;
  background-image: url('../../web-assets/img/ui/glass-header.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
  width: 100%;
  min-height: 20px !important;
  vertical-align: middle !important;
  box-shadow: 0px 0px 4px #797979 !important;
  border: 0;
  margin-top: 15px;
  min-height: 15px !important;
  font-size: 10px !important;
  line-height: 3;
}

.settingsPane .subheader {
  width: 100%;
}

/* Main Menu / Menu Styles */
.settingsPane .list {
  /*margin: 0px 5%;*/
}

.settingsPane ion-list ion-item {
  background-color: transparent;
  border: none;
  padding: 12px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 14px;
}

.settingsPane ion-list ion-item:last-child {
  border-bottom: none !important;
}

.settingsPane ion-list ion-item i {
  position: absolute;
  right: 0;
  font-size: 22px;
}

.settingsPane ion-list ion-item.disabled {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* About Us */
.settingsPane.aboutus {
  height: 100%;
}

.settingsPane.aboutus p {
  margin: 5%;
  color: #fff;
  line-height: 1.7;
  font-size: 13px;
}

.settingsPane.aboutus ion-scroll {
  height: calc(100% - 75px);
}

.settingsPane.aboutus a.button,
.settingsPane.advertise a.button {
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  min-height: 15px;
  line-height: 3;
  padding: 0 !important;
  color: #fff;
  text-transform: uppercase;
  background-image: url('../../web-assets/img/ui/glass-header.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
  width: 70%;
  min-height: 20px !important;
  vertical-align: middle !important;
  box-shadow: 0px 0px 4px #797979 !important;
  border: 0;
  min-height: 15px !important;
  font-size: 10px !important;
  line-height: 3;
    top:80%;
}

/* Advertise With Us */
.settingsPane.advertise {
  padding: 0 !important;
}

.settingsPane.advertise p {
  margin: 8%;
  font-size: 13px;
  color: #fff;
  line-height: 1.7;
}

.settingsPane.advertise img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Change Password */
.settingsPane.changepassword {
  /*color: #fff;*/
  padding-top: 27px;
}

.settingsPane.changepassword input[type='password'] {
  background-color: #a7d071;
  margin-bottom: 15px;
  border-radius: 1px;
  box-shadow: inset 0px 0px 1px 1px #6E9033;
  padding: 10px;
  color: #004D13;
  border-radius: 2px;
  width: 75%;
  font-size: 10px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
}

.settingsPane.changepassword a.button {
  width: 75%;
  margin-top: 10px;
  margin-top: 35px;
}

/* Network Status */
.settingsPane.networkstatus .stats .stat {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.settingsPane.networkstatus .stats div {
  margin-bottom: 30px;
}

.settingsPane.networkstatus .keys ion-item {
  padding: 0;
  border: none;
  margin-bottom: 7px;
  font-size: 13px;
  min-height: 35px;
}

.settingsPane.networkstatus .keys .list {
  margin-bottom: 5px;
  margin-top: 60px;
}

.settingsPane.networkstatus .keys ion-item i.key {
  width: 17px;
  height: 17px;
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 2px;
}

.settingsPane.networkstatus .keys ion-item i.key.orange {
  background-color: #F89000;
}

.settingsPane.networkstatus .keys ion-item i.key.blue {
  background-color: #64F8D7;
}

.settingsPane.networkstatus .keys ion-item i.key.yellow {
  background-color: #D9FA00;
}

/* Block Number */
.settingsPane.blocknumber ion-list ion-item {
  /*padding-left: 4px;*/
  border-bottom: 1px solid rgba(255,255,255,0.5) !important;
}

.settingsPane.blocknumber .new input[type='text'] {
  background-color: #a7d071;
  border-radius: 1px;
  box-shadow: inset 0px 0px 1px 1px #6E9033;
  padding: 10px;
  color: #004D13;
  border-radius: 2px;
  width: calc(100% - 40px);
  font-size: 10px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: left;
  float: left;
}

.settingsPane.blocknumber .scroll {
  height: 100%;
}

.settingsPane.blocknumber ion-scroll {
  height: calc(100% - 60px);
  clear: both;
}

.settingsPane.blocknumber .new button.add {
  border: none;
  background-color: transparent;
  font-size: 35px;
  float: right;
  width: 40px;
  padding-right: 0;
  top: -7px;
  position: relative;
  right: -2px;
}

.settingsPane.blocknumber .new {
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.settingsPane.blocknumber ion-list ion-item i {
  position: absolute;
  font-size: 30px;
  top: 5px;
  right: 3px;
}

input::-webkit-input-placeholder {
  text-align: left !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

/* Notification */
.settingsPane.notifications {
  /*padding: 0;*/
}

.settingsPane.notifications .list {
  /*margin-top: 10px;*/
}

.settingsPane.notifications .list .item {
  padding: 15px 15px;
  background-color: transparent;
  padding-right: 0;
  padding-left: 5px;
  /*border-bottom: 1px solid rgba(255,255,255,0.5) !important;*/
}

.settingsPane.notifications .list .item i {
  left: 0;
  right: auto;
}

.settingsPane.notifications .list .item span {
  padding-left: 45px;
}

.settingsPane.notifications .list .item label {
  border: none;
  padding: 7px 0px;
  color: #fff;
  font-size: 13px;
}

.settingsPane.notifications span.selection {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.7);
}

/* Audio */
.settingsPane h1 {
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.settingsPane.audio .range.volume,
.settingsPane.audio .range.mic {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 15px;
  padding-top: 15px;
}

.settingsPane.audio .range.mic {
  border-bottom: 0;
}

/* Background */
.settingsPane.background img {
  width: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.settingsPane.background a.button {
  width: 80%;
}

/*.settingsPane.background div.row div {
    margin-left: auto;
    margin-right: auto;
}*/
.settingsPane.background div.row {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 259px;*/
}

.settingsPane.background div.container {
  max-width: 260px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

.settingsPane.background .column {
  display: table-cell;
}

.settingsPane.background .column img:nth-child(2),
.settingsPane.background .column img:nth-child(3) {
  margin-top: -25%;
}

/*.settingsPane.background .item-content {
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}*/

/*.settingsPane.background ion-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}*/

.settingsPane.background .item div.no-callpal-egg {
  position: absolute;
  left: 7px;
  top: 11px;
  border: 1px solid white;
  max-height: 55px!important;
  height: 38px!important;
  max-width: 45px!important;
  width: 30px!important;
  -webkit-border-radius: 50%/60% 60% 40% 40%;
  -moz-border-radius: 50%/60% 60% 40% 40%;
  border-radius: 50%/60% 60% 40% 40%;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgba(255,255,255,0.7);
}

.settingsPane.background .item div.no-callpal-egg.green {
  background: linear-gradient(#38b163, #cdd437);
}
.settingsPane.background .item div.no-callpal-egg.yellow {
  background: linear-gradient(#ECC922, #C2D024);
}
.settingsPane.background .item div.no-callpal-egg.orange {
  background: linear-gradient(#F3B528, #F48A36);
}
.settingsPane.background .item div.no-callpal-egg.blue {
  background: linear-gradient(#47C47A, #128CB5);
}
.settingsPane.background .item div.no-callpal-egg.pink {
  background: linear-gradient(#C491EA, #DC6BD3);
}
.settingsPane.background .item div.no-callpal-egg.red {
  background: linear-gradient(#FB444C, #AFE002);
}


.settingsPane.background .background-label {
    margin-left: 45px;
    margin-top: 5px;
}

/* Call History */
.settingsPane.callhistory {
  padding: 0;
}

.settingsPane.callhistory ion-item span {
  margin-top: 3px !important;
}
.settingsPane.callhistory ion-item {
  padding: 0px !important;
}

.settingsPane.callhistory .list .item .icon,
.settingsPane.callhistory .list .item .details {
  display: inline-block;
}

/*.settingsPane.callhistory .list .item .icon {
  position: relative;
  top: 2px;
  margin-right: 15px;
}*/

.settingsPane.callhistory i {
  display: block;
  position: relative;
  font-size: inherit !important;
}


.settingsPane.callhistory span {
  display: block;
}

.settingsPane.callhistory span.time {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 10px;
  text-align: right;
}

.settingsPane.callhistory .list {
  width: 96%;
  margin: 0 0 0 2%;
}

/* Outgoing Call Classes */
.settingsPane.callhistory .list .item.outgoing .icon i.ion-ios-telephone {
  font-size: 40px;
}

.settingsPane.callhistory .list .item.outgoing .icon i.ion-arrow-right-a {
  position: absolute;
  left: 17px;
  top: 1px;
  font-size: 14px;
}

/* Incoming Call Classes */
.settingsPane.callhistory .list .item.incoming .icon i.ion-ios-telephone {
  font-size: 40px;
}

.settingsPane.callhistory .list .item.incoming .icon i.ion-arrow-left-a {
  position: absolute;
  left: 17px;
  top: 1px;
  font-size: 14px;
}

/* Missed Call Classes */
.settingsPane.callhistory .list .item.missed .icon i.ion-ios-telephone-outline {
  font-size: 40px;
}

.settingsPane.callhistory .list .item.missed .icon i.ion-close {
  position: absolute;
  left: 18px;
  top: 1px;
  font-size: 12px;
}

.settingsPane.callhistory .list .item div.no-callpal-egg {
    position: absolute;
    left: 10px;
    top: 7px;
    border: 1px solid white;
    max-height: 55px!important;
    height: 40px!important;
    max-width: 45px!important;
    width: 34px!important;
    -webkit-border-radius: 50%/60% 60% 40% 40%;
    -moz-border-radius: 50%/60% 60% 40% 40%;
    border-radius: 50%/60% 60% 40% 40%;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Update Profile Classes */
.settingsPane.updateprofile {
  padding: 0;
}

.settingsPane.updateprofile input[type='text'],
.settingsPane.updateprofile input[type='number'],
.settingsPane.updateprofile select {
  background-color: #a7d071;
  margin-bottom: 15px;
  border-radius: 1px;
  box-shadow: inset 0px 0px 1px 1px #6E9033;
  padding: 10px;
  color: #004D13;
  border-radius: 2px;
  width: 100%;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
}

.settingsPane.updateprofile select {
  /*float: left;*/
  font-size: 16px;
  border-radius: 0;
  border: none;
  width: 110px;
  margin: 2px !important;
}

.settingsPane.updateprofile option {
  text-align: center;

}

.settingsPane.updateprofile #year {
  display: inline;
}

.settingsPane.updateprofile #birth {
  text-align: center;
  /*margin-top: 10px;*/
  padding: 10px;
  width: 100%;
}

.settingsPane.updateprofile select.gender {
  width: 100%;
}

.settingsPane.updateprofile #sex {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.settingsPane.updateprofile #name {
  padding: 10px;
  text-align: center;
}

.settingsPane.updateprofile #birth select,
.settingsPane.updateprofile #birth input {
  display: table-cell;

}

.settingsPane.updateprofile #sex,
.settingsPane.updateprofile #birth,
.settingsPane.updateprofile #name {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/
}

.settingsPane.updateprofile h1 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0;
  font-weight: normal;
}

.settings-language .item.item-radio,
.settingsPane.background .item.item-radio {
  padding: 0px;
  height: 60px;
}

.settings-ring-tones .item.item-radio {
  height: 50px;
}

.settings-ring-tones .item-content.disable-pointer-events,
.settings-language .item-content.disable-pointer-events,
.settingsPane.background .item-content.disable-pointer-events {
  background-color: transparent !important;
}

.settings-ring-tones label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.settings-ring-tones .item-content {
      padding: 15px 49px 16px 16px !important;
}

.settings-ring-tones .radio-icon {
  padding: 8px !important;
  margin-right: 5px;
}

.bootom-line {
  border-bottom: 1px solid rgba(179, 206, 62, 0.42) !important;
}

.no-profile-avatar{
    width: 35%;
    height: 0%;
    margin: 5% -21% 13% 30%;
}

.profile-avatar{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin: 0% 0 0 31%;
    /*-webkit-clip-path: url('#egg_shape');
    clip-path: url('#egg_shape');
    transform: translate(85px,-10px);*/
}

/*.egg_shape_svg{
    width: 0;
    height: 0;
}

.profile-avatar-frame{
    border: 4px solid #F89000;
    width: 17vh;
    height: 25.5vh;
    position: absolute;
    left: 33.4%;
    top: 12.5%;
    border-radius: 60%;
    background-color: transparent;
}*/

.profile-avatar-modal button.close.active,
.profile-avatar-modal button.close.activated
 {
  background-color: transparent;
}

.profile-avatar-full-screen{
    width: 85%;
    height: 52%;
    margin: 0 0 0 7%;
    border-radius: 2%;
}

.no-border-button{
    border: none;
    background: none;
    padding: 0;
}

.no-margin-top{
    margin-top: 0;
    margin-bottom: 0;
}

.edit-profile-avatar{
    /*width: 35px !important;
    min-width: 35px !important;
    height: 35px!important;
    min-height: 35px !important;*/
    margin: -3.5% 0 0 61%;
    font-size: 2.3em;
    z-index: 0;
    position: absolute;
}

.edit-profile-avatar i{
    color: white;
}

.camera-from-options{
    margin: 6.5% 0 0 27.8%;
    position: absolute;
    border-radius: 2px;
    background-color: white;
    width: 40%;
    z-index: 99;
}

.camera-from-options span:first-child{
    border-bottom: 1px solid black;
}

.camera-from-options > span{
    color: black !important;
    display: inline-block;
    padding: 11% 0 11% 16%;
    cursor: pointer;
    width: 89%;
    margin: 0 0 0 5%;
}

div.jr-crop-center-container{
    background-color: #3B3D3D;
}

.cropping-text{
    position:absolute;
    text-align:center;
}

/*.callhistory ion-item{
    margin: 0 0 -3% 2%;
    width: 96%!important;
}*/

.settings-language .item-content,
.settingsPane.background .item-content {
    /*margin: -1% !important;*/
    padding: 13px 28px 16px 5px !important;
}

.settings-language .item,
.settingsPane.background .item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)!important;
}