body {
  background-image: linear-gradient(to left bottom, #38b163, #cdd437);
}

.pane {
  background-image: linear-gradient(to left bottom, #38b163, #cdd437);
}

ion-nav-view {
  background-image: linear-gradient(to left bottom, #38b163, #cdd437);
}

.callpal-tab-view .view-container {
  background-image: linear-gradient(to left bottom, #38b163, #cdd437);
}

/*Modal*/

.modal {
  background-image: linear-gradient(to left bottom, #38b163, #cdd437);!important;
}



