<ion-view title="CallPal">
  <ion-header-bar align-title="center" class="bar-callpal">
    <button class="button button-clear" ng-click="back()">Back</button>
    <h1 class="title">CallPal</h1>
  </ion-header-bar>

  <ion-content padding="true" class="tourPane">
    <p>
      Welcome to Callpal, the App that allows you to make international calls from your smart phone, absolutely free.
    </p>

    <img src="web-assets/img/tour/video.png">

    <!-- <a class="button" ng-click="">Take a Tour</a> -->
  </ion-content>
</ion-view>
